:root {
    --dark-gray: #1f2937;
    --white-ish: #f9faf8;
    --white-grey: #e5e7eb;
    --teal: #87ceeb;
    --sky-blue: #3882f6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--white-ish);
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

.header-container {
    background-color: var(--dark-gray);
    display: flex;
    justify-content: center;
    width: 100dvw;
}

.header {
    background-color: var(--dark-gray);
    width: 100%;
    max-width: 1080px;
    padding: 20px;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

ul li.logo {
    color: var(--white-ish);
    font-size: 24px;
    font-weight: bolder;
    margin-right: auto;
}

li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}

.hero-container {
    display: flex;
    justify-content: center;
    background-color: var(--dark-gray);
    width: 100dvw;
}

.hero {
    display: flex;
    max-width: 1080px;
    background-color: var(--dark-gray);
    color: var(--white-grey);
    margin: 100px 0;
}

.hero-left {
    display: flex;
    flex: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 24px;
}

.hero-right {
    display: flex;
    flex: 50%;
}

.hero-right img {
    width: 100%;
    height: auto;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
}

.hero-left p {
    text-align: left;
    font-size: 18px;
}

button {
    background-color: var(--sky-blue);
    color: var(--white-ish);
    width: 140px;
    height: 40px;
    border-style: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.info {
    background-color: var(--white-ish);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info h2 {
    color: var(--dark-gray);
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    padding: 48px 0;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    margin-bottom: 104px;
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 170px;
}

.box-container p {
    text-align: center;
    color: #1f2937cf;
    font-size: 18px;
    padding: 8px 0;
}

.photo-box {
    width: 170px;
    height: 170px;
    border: var(--sky-blue);
    border-style: solid;
    border-radius: 18px;
    border-width: 4.4px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: var(--white-grey);
    color: var(--teal);
}

.quote h4 {
    align-self: flex-end;
}

.action {
    display: flex;
}

.footer {
    background-color: var(--dark-gray);
    color: var(--white-ish);
    display: flex;
    width: 100vw;
    justify-content: center;
}