* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightsteelblue;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

.header-container {
    background-color: rgb(125, 186, 186);
    display: flex;
    justify-content: center;
    width: 100dvw;
}

.header {
    background-color: darkslategray;
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

ul li.logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
}

.hero-left {
    display: flex;
    flex: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
}

.hero-right {
    display: flex;
    flex: 50%;
}

.hero-right img {
    width: 500x;
    height: 200px
}

.hero-left h1 {
    padding: 0;
}

.hero-left p {
    text-align: center;
}

.info {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info h2 {
    color: blue;
    text-align: center;
}

.photo-container {
    display: flex;
    justify-content: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
}

.box-container p {
    text-align: center;
}

.photo-box {
    width: 200px;
    height: 200px;
    border: darkred;
    border-style: solid;
    border-radius: 12px;
}
